/build
/dist
/executions/controllers/__pycache__/*
/executions/controllers/ui/__pycache__/*
/.idea
/output
algorithm/__pycache__/fsm.cpython-39.pyc
data/__pycache__/app_data.cpython-39.pyc
executions/__pycache__/execution_utils.cpython-39.pyc
report/__pycache__/pdf_report_utils.cpython-39.pyc
settings/__pycache__/codon_usage_settings.cpython-39.pyc
settings/__pycache__/costs_settings.cpython-39.pyc
settings/__pycache__/pattern_settings.cpython-39.pyc
settings/__pycache__/sequence_settings.cpython-39.pyc
test/__pycache__/test_cost_utils.cpython-39.pyc
test/__pycache__/test_dna_utils.cpython-39.pyc
test/__pycache__/test_elimination_utils.cpython-39.pyc
test/__pycache__/test_fsm.cpython-39.pyc
test/__pycache__/test_input_utils.cpython-39.pyc
utils/__pycache__/amino_acid_utils.cpython-39.pyc
utils/__pycache__/cost_utils.cpython-39.pyc
utils/__pycache__/date_utils.cpython-39.pyc
utils/__pycache__/display_utils.cpython-39.pyc
utils/__pycache__/dna_utils.cpython-39.pyc
utils/__pycache__/file_utils.cpython-39.pyc
utils/__pycache__/graphic_utils.cpython-39.pyc
utils/__pycache__/input_utils.cpython-39.pyc
utils/__pycache__/output_utils.cpython-39.pyc
utils/__pycache__/text_utils.cpython-39.pyc
